6-3 AWS node red program.txt
[{"id":"2097df2c.5d504","type":"mqtt out","z":"cf5b54b.712dda8","name":"","topic":"outTopic","qos":"","retain":"","broker":"cd070f43.2e4a5","x":660,"y":140,"wires":[]},{"id":"5946df0b.e7eef","type":"ui_switch","z":"cf5b54b.712dda8","name":"","label":"P40","tooltip":"","group":"9c2891e0.5bab9","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.9478874206543,"y":139.2604398727417,"wires":[["b7487304.2a6f9"]]},{"id":"5fae0b6.d5039f4","type":"ui_switch","z":"cf5b54b.712dda8","name":"","label":"P41","tooltip":"","group":"9c2891e0.5bab9","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.94787979125977,"y":192.26046085357666,"wires":[["2845d5ca.a103ca"]]},{"id":"4d51d024.8e31b","type":"ui_switch","z":"cf5b54b.712dda8","name":"","label":"P42","tooltip":"","group":"9c2891e0.5bab9","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110.94787979125977,"y":252.26046085357666,"wires":[["d3b9fa99.946db8"]]},{"id":"7be96467.08f7fc","type":"ui_switch","z":"cf5b54b.712dda8","name":"","label":"P43","tooltip":"","group":"9c2891e0.5bab9","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":109.94787979125977,"y":303.26046085357666,"wires":[["d4a3bc5e.eb39c"]]},{"id":"b7487304.2a6f9","type":"function","z":"cf5b54b.712dda8","name":"to global variable","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":279.928279876709,"y":138.256573677063,"wires":[["b145019.11167"]]},{"id":"2845d5ca.a103ca","type":"function","z":"cf5b54b.712dda8","name":"to global variable","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":278.928279876709,"y":191.256573677063,"wires":[["b145019.11167"]]},{"id":"d3b9fa99.946db8","type":"function","z":"cf5b54b.712dda8","name":"to global variable","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":280.928279876709,"y":250.256573677063,"wires":[["b145019.11167"]]},{"id":"d4a3bc5e.eb39c","type":"function","z":"cf5b54b.712dda8","name":"to global variable","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":275.9283027648926,"y":301.2565803527832,"wires":[["b145019.11167"]]},{"id":"b145019.11167","type":"function","z":"cf5b54b.712dda8","name":"encorder","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\nvar num=p40+p41*2+p42*4+p43*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":493.94787216186523,"y":141.26045608520508,"wires":[["2097df2c.5d504","b76661bd.30d08"]]},{"id":"2515b1fa.23e6fe","type":"comment","z":"cf5b54b.712dda8","name":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","info":"","x":300,"y":80,"wires":[]},{"id":"b76661bd.30d08","type":"debug","z":"cf5b54b.712dda8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":220,"wires":[]},{"id":"1c9aeb0d.5a2d15","type":"comment","z":"cf5b54b.712dda8","name":"https://youtu.be/_y6z8kreg00","info":"","x":720,"y":80,"wires":[]},{"id":"cd070f43.2e4a5","type":"mqtt-broker","z":"","name":"","broker":"a8i4lgiqa43pw-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"6a0d8da7.b07f74","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9c2891e0.5bab9","type":"ui_group","z":"","name":"PLC Testing","tab":"1b727fa5.96baa","disp":true,"width":"9","collapse":false},{"id":"6a0d8da7.b07f74","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-public.pem.key","keyname":"e9369a83d7-public.pem.key","caname":"e9369a83d7-public.pem.key","servername":"","verifyservercert":true},{"id":"1b727fa5.96baa","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]