6-3-1-1 PC node red program.txt
[{"id":"8aad3cb.2a0a0c","type":"mqtt out","z":"ed7b8a07.9312d8","name":"","topic":"inTopic","qos":"","retain":"","broker":"cd070f43.2e4a5","x":690,"y":460,"wires":[]},{"id":"91865da.89858a","type":"ui_switch","z":"ed7b8a07.9312d8","name":"","label":"P40","tooltip":"","group":"9c2891e0.5bab9","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.9478874206543,"y":199.2604398727417,"wires":[["61945360.eee36c"]]},{"id":"69f05cd1.1be3d4","type":"ui_switch","z":"ed7b8a07.9312d8","name":"","label":"P41","tooltip":"","group":"9c2891e0.5bab9","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.94787979125977,"y":252.26046085357666,"wires":[["8f95c8b1.0b0528"]]},{"id":"80f9bfc0.a2738","type":"ui_switch","z":"ed7b8a07.9312d8","name":"","label":"P42","tooltip":"","group":"9c2891e0.5bab9","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110.94787979125977,"y":312.26046085357666,"wires":[["f84f222c.a54ea"]]},{"id":"1af991e8.c5130e","type":"ui_switch","z":"ed7b8a07.9312d8","name":"","label":"P43","tooltip":"","group":"9c2891e0.5bab9","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":109.94787979125977,"y":363.26046085357666,"wires":[["1d2c4b0a.d1c0d5"]]},{"id":"473569bb.22dfc8","type":"comment","z":"ed7b8a07.9312d8","name":"node-red ui에서 plc제어 사이트 참조","info":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","x":200,"y":140,"wires":[]},{"id":"b2b45ddf.3e628","type":"comment","z":"ed7b8a07.9312d8","name":"MongoDB를 이용한 PLC 제어","info":"","x":180,"y":80,"wires":[]},{"id":"89f126f9.56dfb8","type":"function","z":"ed7b8a07.9312d8","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["8aad3cb.2a0a0c"]]},{"id":"5e29c8cb.7b3308","type":"mongodb2 in","z":"ed7b8a07.9312d8","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":475,"y":200,"wires":[["195a9543.40a54b"]]},{"id":"8f95c8b1.0b0528","type":"function","z":"ed7b8a07.9312d8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.1':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":279,"y":252,"wires":[["5e29c8cb.7b3308"]]},{"id":"61945360.eee36c","type":"function","z":"ed7b8a07.9312d8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.0':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":278,"y":200,"wires":[["5e29c8cb.7b3308"]]},{"id":"f84f222c.a54ea","type":"function","z":"ed7b8a07.9312d8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.2':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":278,"y":311,"wires":[["5e29c8cb.7b3308"]]},{"id":"1d2c4b0a.d1c0d5","type":"function","z":"ed7b8a07.9312d8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.3':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":279,"y":363,"wires":[["5e29c8cb.7b3308"]]},{"id":"d3a74e6d.b504a","type":"function","z":"ed7b8a07.9312d8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":222,"y":460,"wires":[["3156ee00.89c8e2"]]},{"id":"3156ee00.89c8e2","type":"mongodb2 in","z":"ed7b8a07.9312d8","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":372,"y":460,"wires":[["89f126f9.56dfb8"]]},{"id":"95fe2cee.89fde","type":"comment","z":"ed7b8a07.9312d8","name":"monogoDB 기초함수 사이트 참조","info":"https://youtu.be/JfJ8t_6Eq0k","x":510,"y":140,"wires":[]},{"id":"3951bf3c.b906f","type":"mqtt in","z":"ed7b8a07.9312d8","name":"","topic":"outTopic","qos":"0","datatype":"auto","broker":"cd070f43.2e4a5","x":120,"y":620,"wires":[["3ba4c32e.da687c"]]},{"id":"3ba4c32e.da687c","type":"ui_text","z":"ed7b8a07.9312d8","group":"9c2891e0.5bab9","order":1,"width":0,"height":0,"name":"","label":"return msg","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":620,"wires":[]},{"id":"ca219791.dfb448","type":"ui_button","z":"ed7b8a07.9312d8","name":"","group":"9c2891e0.5bab9","order":2,"width":0,"height":0,"passthru":false,"label":"읽기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":520,"wires":[["7257a108.32c2f"]]},{"id":"7257a108.32c2f","type":"function","z":"ed7b8a07.9312d8","name":"","func":"msg.payload='\\u0005'+'00RSS0104%PW0'+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[["8aad3cb.2a0a0c"]]},{"id":"195a9543.40a54b","type":"link out","z":"ed7b8a07.9312d8","name":"","links":["2511109d.1311a"],"x":595,"y":200,"wires":[]},{"id":"2511109d.1311a","type":"link in","z":"ed7b8a07.9312d8","name":"","links":["195a9543.40a54b"],"x":75,"y":460,"wires":[["d3a74e6d.b504a"]]},{"id":"cd070f43.2e4a5","type":"mqtt-broker","z":"","name":"","broker":"","port":"8883","tls":"6a0d8da7.b07f74","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9c2891e0.5bab9","type":"ui_group","z":"","name":"PLC Testing","tab":"1b727fa5.96baa","disp":true,"width":"9","collapse":false},{"id":"dcbfb6eb.1d4318","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/dbTest","name":"dbTest","options":"","parallelism":""},{"id":"6a0d8da7.b07f74","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"1b727fa5.96baa","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]