6-3-1 PC node red program.txt
[{"id":"a98cd4c5.75eba8","type":"tab","label":"plc","disabled":false,"info":""},{"id":"d523dc79.85b41","type":"mqtt out","z":"a98cd4c5.75eba8","name":"","topic":"outTopic","qos":"","retain":"","broker":"cd070f43.2e4a5","x":800,"y":460,"wires":[]},{"id":"32fc303e.dab08","type":"ui_switch","z":"a98cd4c5.75eba8","name":"","label":"P40","tooltip":"","group":"9c2891e0.5bab9","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.9478874206543,"y":159.2604398727417,"wires":[["1cfd3be.84238c4"]]},{"id":"63c60d08.cf5f44","type":"ui_switch","z":"a98cd4c5.75eba8","name":"","label":"P41","tooltip":"","group":"9c2891e0.5bab9","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.94787979125977,"y":212.26046085357666,"wires":[["dc607a9e.d8e558"]]},{"id":"59433c11.991004","type":"ui_switch","z":"a98cd4c5.75eba8","name":"","label":"P42","tooltip":"","group":"9c2891e0.5bab9","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110.94787979125977,"y":272.26046085357666,"wires":[["e1e8c08e.b0353"]]},{"id":"daeba3c1.02337","type":"ui_switch","z":"a98cd4c5.75eba8","name":"","label":"P43","tooltip":"","group":"9c2891e0.5bab9","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":109.94787979125977,"y":323.26046085357666,"wires":[["dc19e187.9ab54"]]},{"id":"439ceb85.ebed44","type":"comment","z":"a98cd4c5.75eba8","name":"node-red ui에서 plc제어 사이트 참조","info":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","x":200,"y":100,"wires":[]},{"id":"dc4c4b9a.fea0b8","type":"comment","z":"a98cd4c5.75eba8","name":"MongoDB를 이용한 PLC 제어","info":"","x":180,"y":40,"wires":[]},{"id":"7e7ff877.e833d8","type":"function","z":"a98cd4c5.75eba8","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":460,"wires":[["d523dc79.85b41"]]},{"id":"c0ea571e.70b948","type":"mongodb2 in","z":"a98cd4c5.75eba8","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":475,"y":160,"wires":[["f5746114.a96e6"]]},{"id":"dc607a9e.d8e558","type":"function","z":"a98cd4c5.75eba8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.1':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":279,"y":212,"wires":[["c0ea571e.70b948"]]},{"id":"1cfd3be.84238c4","type":"function","z":"a98cd4c5.75eba8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.0':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":278,"y":160,"wires":[["c0ea571e.70b948"]]},{"id":"e1e8c08e.b0353","type":"function","z":"a98cd4c5.75eba8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.2':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":278,"y":271,"wires":[["c0ea571e.70b948"]]},{"id":"dc19e187.9ab54","type":"function","z":"a98cd4c5.75eba8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.3':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":279,"y":323,"wires":[["c0ea571e.70b948"]]},{"id":"f5746114.a96e6","type":"function","z":"a98cd4c5.75eba8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":322,"y":460,"wires":[["de94181.44c40e8"]]},{"id":"de94181.44c40e8","type":"mongodb2 in","z":"a98cd4c5.75eba8","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":472,"y":460,"wires":[["7e7ff877.e833d8"]]},{"id":"e9ae3d7c.d2098","type":"inject","z":"a98cd4c5.75eba8","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":460,"wires":[["f5746114.a96e6"]]},{"id":"de367303.186f8","type":"debug","z":"a98cd4c5.75eba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"2ee6e0c9.0d21b","type":"comment","z":"a98cd4c5.75eba8","name":"monogoDB 기초함수 사이트 참조","info":"https://youtu.be/JfJ8t_6Eq0k","x":510,"y":100,"wires":[]},{"id":"cd070f43.2e4a5","type":"mqtt-broker","z":"","name":"","broker":"","port":"8883","tls":"6a0d8da7.b07f74","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9c2891e0.5bab9","type":"ui_group","z":"","name":"PLC Testing","tab":"1b727fa5.96baa","disp":true,"width":"9","collapse":false},{"id":"dcbfb6eb.1d4318","type":"mongodb2","z":"","uri":"","name":"dbTest","options":"","parallelism":""},{"id":"6a0d8da7.b07f74","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"1b727fa5.96baa","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]