6-3-1-2-aws_arduino_mqtt_basic/6-3-1-2 PC node red program.txt
[{"id":"6fec61a3.5f082","type":"worldmap","z":"70a351c3.2400e","name":"","lat":"37.6547","lon":"126.7944","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"/worldmap","x":765,"y":180,"wires":[]},{"id":"d81cb612.e07968","type":"mongodb2 in","z":"70a351c3.2400e","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":470,"y":180,"wires":[["c21dd669.c6faf8"]]},{"id":"ff3a5733.151268","type":"function","z":"70a351c3.2400e","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":200,"y":400,"wires":[["b85bd864.aab198"]]},{"id":"9e3765e.8126298","type":"inject","z":"70a351c3.2400e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["ceb7b127.cd42b"]]},{"id":"c21dd669.c6faf8","type":"function","z":"70a351c3.2400e","name":"배열처리","func":"/*\nvar newMsg={};\nvar on,color;\nif(msg.payload.on==1) {\n    on=\"power-on\";\n    color=\"red\";\n}\nelse {\n    on=\"power-off\";\n    color=\"black\";\n}\nnewMsg.payload =  {\n    name:msg.payload.chip,\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    icon:on,\n    iconColor:color,\n};\nreturn newMsg;\n*/\nvar newMsg={};\nvar arrayMsg=[];\nvar on;\nvar color;\nfor (var i = 0; i < msg.payload.length; i++) {\n    //arrayMsg.push(msg.payload[i]);\n    if(msg.payload[i].on==1) {\n        on=\"power-on\";\n        color=\"red\";\n    }\n    else {\n        on=\"power-off\";\n        color=\"black\";\n    }\n    newMsg=  {\n        name:msg.payload[i].chip,\n        lat:msg.payload[i].lat,\n        lon:msg.payload[i].lon,\n        icon:on,\n        iconColor:color,\n    };\n    arrayMsg.push(newMsg);\n}\nmsg.payload=arrayMsg;\nreturn msg;","outputs":1,"noerr":0,"x":625,"y":180,"wires":[["6fec61a3.5f082"]]},{"id":"21b5f62.527a80a","type":"comment","z":"70a351c3.2400e","name":"소스프로그램 사이트","info":"https://github.com/kdi6033/HomeAuto/blob/master/9-3-6%20Node-red%20Program(AWS%20sonoff%20worldmap).txt","x":170,"y":40,"wires":[]},{"id":"b4e2f143.bae01","type":"mqtt out","z":"70a351c3.2400e","name":"","topic":"inTopic","qos":"","retain":"","broker":"cd070f43.2e4a5","x":640,"y":400,"wires":[]},{"id":"dea35cd0.d6afe","type":"function","z":"70a351c3.2400e","name":"","func":"msg.payload=\"{'chip':'\"+msg.payload.chip+\"','on':\"+msg.payload.on+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["b4e2f143.bae01","63bd8ebe.c5c3a"]]},{"id":"ceb7b127.cd42b","type":"function","z":"70a351c3.2400e","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'find.toArray';\n//newMsg.payload    = { 'on' : 0 };\nnewMsg.projection = { 'on' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["d81cb612.e07968"]]},{"id":"8dfe0cdf.6609d","type":"worldmap in","z":"70a351c3.2400e","name":"","path":"/worldmap","x":140,"y":260,"wires":[["3f0357ea.9546d8"]]},{"id":"46171bcb.66dc74","type":"mongodb2 in","z":"70a351c3.2400e","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":450,"y":260,"wires":[["ef1d6f2c.2321a"]]},{"id":"3f0357ea.9546d8","type":"function","z":"70a351c3.2400e","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.name};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["46171bcb.66dc74"]]},{"id":"ef1d6f2c.2321a","type":"function","z":"70a351c3.2400e","name":"on->off off->on findOneAndUpdate","func":"var newMsg = {};\nvar on=0;\nif(msg.payload.on==0)\n    on=1;\nelse\n    on=0;\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : msg.payload.chip}, {$set:{ 'on':on}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":700,"y":260,"wires":[["36703bcd.a66634"]]},{"id":"36703bcd.a66634","type":"mongodb2 in","z":"70a351c3.2400e","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":941,"y":260,"wires":[["1835462f.8ba6ca"]]},{"id":"6a2d1d67.161d54","type":"ui_switch","z":"70a351c3.2400e","name":"","label":"switch","tooltip":"","group":"f63973ea.9cf6f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":590,"y":320,"wires":[["f33c2a7.ce60ad8"]]},{"id":"f33c2a7.ce60ad8","type":"function","z":"70a351c3.2400e","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'on':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":760,"y":320,"wires":[["36703bcd.a66634"]]},{"id":"b85bd864.aab198","type":"mongodb2 in","z":"70a351c3.2400e","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":350,"y":400,"wires":[["dea35cd0.d6afe"]]},{"id":"1835462f.8ba6ca","type":"link out","z":"70a351c3.2400e","name":"","links":["f3f94a10.1f9bd8","4b019422.3dda0c"],"x":1046,"y":260,"wires":[]},{"id":"4b019422.3dda0c","type":"link in","z":"70a351c3.2400e","name":"","links":["1835462f.8ba6ca"],"x":95,"y":400,"wires":[["ff3a5733.151268"]]},{"id":"f3f94a10.1f9bd8","type":"link in","z":"70a351c3.2400e","name":"","links":["1835462f.8ba6ca"],"x":175,"y":180,"wires":[["ceb7b127.cd42b"]]},{"id":"63bd8ebe.c5c3a","type":"debug","z":"70a351c3.2400e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":480,"wires":[]},{"id":"dcbfb6eb.1d4318","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/dbTest","name":"dbTest","options":"","parallelism":""},{"id":"cd070f43.2e4a5","type":"mqtt-broker","z":"","name":"","broker":"a8i4lgiqa43pw-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"6a0d8da7.b07f74","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f63973ea.9cf6f","type":"ui_group","z":"","name":"Group 1","tab":"38fe06d6.ad532a","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a0d8da7.b07f74","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"38fe06d6.ad532a","type":"ui_tab","name":"Tab 7","icon":"dashboard","order":7}]