6-3-1-2-aws_arduino_mqtt_basic/6-3-1-2 PC node red program.txt
[{"id":"7efe05d8.dff67c","type":"mqtt out","z":"c5c9db52.14bd78","name":"","topic":"inTopic","qos":"","retain":"","broker":"5482b5a3.06906c","x":698.017333984375,"y":450.00000762939453,"wires":[]},{"id":"69fc63c1.4ea94c","type":"ui_switch","z":"c5c9db52.14bd78","name":"","label":"P40","tooltip":"","group":"92ff5847.96e6a8","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120.9652214050293,"y":189.26044750213623,"wires":[["6669d2e3.32857c"]]},{"id":"d0b7698f.9950a8","type":"ui_switch","z":"c5c9db52.14bd78","name":"","label":"P41","tooltip":"","group":"92ff5847.96e6a8","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120.96521377563477,"y":242.2604684829712,"wires":[["84e83a2d.30ff98"]]},{"id":"eed45aaf.4f4488","type":"ui_switch","z":"c5c9db52.14bd78","name":"","label":"P42","tooltip":"","group":"92ff5847.96e6a8","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":118.96521377563477,"y":302.2604684829712,"wires":[["ca958250.5da2"]]},{"id":"f19ee5a0.09f478","type":"ui_switch","z":"c5c9db52.14bd78","name":"","label":"P43","tooltip":"","group":"92ff5847.96e6a8","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":117.96521377563477,"y":353.2604684829712,"wires":[["159255c.48ee1aa"]]},{"id":"cf7783a0.aaee9","type":"comment","z":"c5c9db52.14bd78","name":"node-red ui에서 plc제어 사이트 참조","info":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","x":208.017333984375,"y":130.00000762939453,"wires":[]},{"id":"fa8ded88.ce9bf","type":"comment","z":"c5c9db52.14bd78","name":"MongoDB를 이용한 PLC 제어 6-3-1-2","info":"","x":218.017333984375,"y":70.00000762939453,"wires":[]},{"id":"17f146a.0941eb9","type":"function","z":"c5c9db52.14bd78","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":548.017333984375,"y":450.00000762939453,"wires":[["7efe05d8.dff67c","b2fbe313.bb109"]]},{"id":"93cd94d0.ea53f8","type":"mongodb2 in","z":"c5c9db52.14bd78","service":"_ext_","configNode":"95d3a0a7.c6891","name":"dbTest Data","collection":"","operation":"","x":483.017333984375,"y":190.00000762939453,"wires":[["c998ed30.9d8ae"]]},{"id":"84e83a2d.30ff98","type":"function","z":"c5c9db52.14bd78","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.1':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":287.017333984375,"y":242.00000762939453,"wires":[["93cd94d0.ea53f8"]]},{"id":"6669d2e3.32857c","type":"function","z":"c5c9db52.14bd78","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.0':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":286.017333984375,"y":190.00000762939453,"wires":[["93cd94d0.ea53f8"]]},{"id":"ca958250.5da2","type":"function","z":"c5c9db52.14bd78","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.2':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":286.017333984375,"y":301.00000762939453,"wires":[["93cd94d0.ea53f8"]]},{"id":"159255c.48ee1aa","type":"function","z":"c5c9db52.14bd78","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.3':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":287.017333984375,"y":353.00000762939453,"wires":[["93cd94d0.ea53f8"]]},{"id":"737ca571.ed528c","type":"function","z":"c5c9db52.14bd78","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":230.017333984375,"y":450.00000762939453,"wires":[["2eb5e0b9.f1fd5"]]},{"id":"2eb5e0b9.f1fd5","type":"mongodb2 in","z":"c5c9db52.14bd78","service":"_ext_","configNode":"95d3a0a7.c6891","name":"dbTest Data","collection":"","operation":"","x":380.017333984375,"y":450.00000762939453,"wires":[["17f146a.0941eb9"]]},{"id":"2e7be0e8.369ba","type":"comment","z":"c5c9db52.14bd78","name":"monogoDB 기초함수 사이트 참조","info":"https://youtu.be/JfJ8t_6Eq0k","x":518.017333984375,"y":130.00000762939453,"wires":[]},{"id":"622762c6.709e7c","type":"mqtt in","z":"c5c9db52.14bd78","name":"","topic":"outTopic","qos":"0","datatype":"auto","broker":"5482b5a3.06906c","x":128.017333984375,"y":610.0000076293945,"wires":[["822e2c22.59a9c"]]},{"id":"7c2da461.65d33c","type":"ui_button","z":"c5c9db52.14bd78","name":"","group":"92ff5847.96e6a8","order":2,"width":0,"height":0,"passthru":false,"label":"읽기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":418.017333984375,"y":510.00000762939453,"wires":[["2d86f067.eaecc"]]},{"id":"2d86f067.eaecc","type":"function","z":"c5c9db52.14bd78","name":"","func":"msg.payload='\\u0005'+'00RSS0104%PW0'+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":548.017333984375,"y":510.00000762939453,"wires":[["7efe05d8.dff67c"]]},{"id":"c998ed30.9d8ae","type":"link out","z":"c5c9db52.14bd78","name":"","links":["df564076.b107f"],"x":603.017333984375,"y":190.00000762939453,"wires":[]},{"id":"df564076.b107f","type":"link in","z":"c5c9db52.14bd78","name":"","links":["c998ed30.9d8ae"],"x":83.017333984375,"y":450.00000762939453,"wires":[["737ca571.ed528c"]]},{"id":"ae5d9571.780928","type":"ui_led","z":"c5c9db52.14bd78","group":"92ff5847.96e6a8","order":8,"width":"","height":"","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p00","x":758.017333984375,"y":577.0000076293945,"wires":[]},{"id":"f5f7e90a.021158","type":"function","z":"c5c9db52.14bd78","name":"2진수로 정리","func":"var hex=msg.payload.substring(12,14);\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nmsg.payload=bin;\nmsg.payload=msg.payload.substring(0,13);\nreturn msg;","outputs":1,"noerr":0,"x":400.9547805786133,"y":610.1075639724731,"wires":[["f1a7ff54.29b58"]]},{"id":"f1a7ff54.29b58","type":"function","z":"c5c9db52.14bd78","name":"decorder","func":"var out=[];\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3]];\n","outputs":4,"noerr":0,"x":570.0104217529297,"y":610.9617557525635,"wires":[["ae5d9571.780928"],["d79fd3a7.c7f"],["2ba15a1c.072a26"],["b962d48a.fee368"]]},{"id":"d79fd3a7.c7f","type":"ui_led","z":"c5c9db52.14bd78","group":"92ff5847.96e6a8","order":9,"width":"","height":"","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p01","x":759.9548683166504,"y":619.1075439453125,"wires":[]},{"id":"2ba15a1c.072a26","type":"ui_led","z":"c5c9db52.14bd78","group":"92ff5847.96e6a8","order":10,"width":"","height":"","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p02","x":759.9548683166504,"y":659.1075439453125,"wires":[]},{"id":"b962d48a.fee368","type":"ui_led","z":"c5c9db52.14bd78","group":"92ff5847.96e6a8","order":11,"width":"","height":"","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p03","x":759.9548683166504,"y":698.1075744628906,"wires":[]},{"id":"822e2c22.59a9c","type":"string","z":"c5c9db52.14bd78","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":258.017333984375,"y":610.0000076293945,"wires":[["f5f7e90a.021158","c70f1bef.ee8a18"]]},{"id":"b2fbe313.bb109","type":"ui_text","z":"c5c9db52.14bd78","group":"92ff5847.96e6a8","order":21,"width":0,"height":0,"name":"","label":"Transmitt","format":"{{msg.payload}}","layout":"row-spread","x":705.017333984375,"y":410.00000762939453,"wires":[]},{"id":"c70f1bef.ee8a18","type":"ui_text","z":"c5c9db52.14bd78","group":"92ff5847.96e6a8","order":21,"width":0,"height":0,"name":"","label":"Receive","format":"{{msg.payload}}","layout":"row-spread","x":388.017333984375,"y":670.0000076293945,"wires":[]},{"id":"5482b5a3.06906c","type":"mqtt-broker","z":"","name":"","broker":"","port":"8883","tls":"658f46c5.e1ebd8","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92ff5847.96e6a8","type":"ui_group","z":"","name":"PLC Testing","tab":"f75e700e.0e7e4","disp":true,"width":"9","collapse":false},{"id":"95d3a0a7.c6891","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/dbTest","name":"dbTest","options":"","parallelism":""},{"id":"658f46c5.e1ebd8","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"f75e700e.0e7e4","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]