6-3-1-2-aws_arduino_mqtt_basic/6-3-1-2 PC node red program.txt
[{"id":"aaf5749e.62cfb8","type":"tab","label":"plc","disabled":false,"info":""},{"id":"a46fc15b.08a5a","type":"mqtt out","z":"aaf5749e.62cfb8","name":"","topic":"inTopic","qos":"","retain":"","broker":"3da04559.455eaa","x":690,"y":420,"wires":[]},{"id":"e249a11b.6aefb","type":"ui_switch","z":"aaf5749e.62cfb8","name":"","label":"P40","tooltip":"","group":"699737fe.1b03f8","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.9478874206543,"y":159.2604398727417,"wires":[["35d98408.79150c"]]},{"id":"a62ebbc0.6bc298","type":"ui_switch","z":"aaf5749e.62cfb8","name":"","label":"P41","tooltip":"","group":"699737fe.1b03f8","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.94787979125977,"y":212.26046085357666,"wires":[["a50d2f91.9e78"]]},{"id":"b20a7bed.287bd8","type":"ui_switch","z":"aaf5749e.62cfb8","name":"","label":"P42","tooltip":"","group":"699737fe.1b03f8","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110.94787979125977,"y":272.26046085357666,"wires":[["fddc1ada.141638"]]},{"id":"258afa64.36d5e6","type":"ui_switch","z":"aaf5749e.62cfb8","name":"","label":"P43","tooltip":"","group":"699737fe.1b03f8","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":109.94787979125977,"y":323.26046085357666,"wires":[["20648fd1.a285d"]]},{"id":"6caa77f6.e8d0e8","type":"comment","z":"aaf5749e.62cfb8","name":"node-red ui에서 plc제어 사이트 참조","info":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","x":200,"y":100,"wires":[]},{"id":"974d2dbd.43bc1","type":"comment","z":"aaf5749e.62cfb8","name":"MongoDB를 이용한 PLC 제어","info":"","x":180,"y":40,"wires":[]},{"id":"feaf1c0a.91c8","type":"function","z":"aaf5749e.62cfb8","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["a46fc15b.08a5a"]]},{"id":"9303c7f6.308148","type":"mongodb2 in","z":"aaf5749e.62cfb8","service":"_ext_","configNode":"9003e588.d97668","name":"dbTest Data","collection":"","operation":"","x":475,"y":160,"wires":[["630e5205.91d30c"]]},{"id":"a50d2f91.9e78","type":"function","z":"aaf5749e.62cfb8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.1':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":279,"y":212,"wires":[["9303c7f6.308148"]]},{"id":"35d98408.79150c","type":"function","z":"aaf5749e.62cfb8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.0':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":278,"y":160,"wires":[["9303c7f6.308148"]]},{"id":"fddc1ada.141638","type":"function","z":"aaf5749e.62cfb8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.2':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":278,"y":271,"wires":[["9303c7f6.308148"]]},{"id":"20648fd1.a285d","type":"function","z":"aaf5749e.62cfb8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.3':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":279,"y":323,"wires":[["9303c7f6.308148"]]},{"id":"1493d193.41c0be","type":"function","z":"aaf5749e.62cfb8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":222,"y":420,"wires":[["f9aae77.cc39e18"]]},{"id":"f9aae77.cc39e18","type":"mongodb2 in","z":"aaf5749e.62cfb8","service":"_ext_","configNode":"9003e588.d97668","name":"dbTest Data","collection":"","operation":"","x":372,"y":420,"wires":[["feaf1c0a.91c8"]]},{"id":"b4dabf5f.f2bfb","type":"comment","z":"aaf5749e.62cfb8","name":"monogoDB 기초함수 사이트 참조","info":"https://youtu.be/JfJ8t_6Eq0k","x":510,"y":100,"wires":[]},{"id":"2a441522.de6eea","type":"mqtt in","z":"aaf5749e.62cfb8","name":"","topic":"outTopic","qos":"0","datatype":"auto","broker":"3da04559.455eaa","x":120,"y":580,"wires":[["406fd36.2c2912c"]]},{"id":"406fd36.2c2912c","type":"ui_text","z":"aaf5749e.62cfb8","group":"699737fe.1b03f8","order":1,"width":0,"height":0,"name":"","label":"return msg","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":580,"wires":[]},{"id":"4bea2ccc.05bdc4","type":"ui_button","z":"aaf5749e.62cfb8","name":"","group":"699737fe.1b03f8","order":2,"width":0,"height":0,"passthru":false,"label":"읽기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":480,"wires":[["2a9e3ecb.baf362"]]},{"id":"2a9e3ecb.baf362","type":"function","z":"aaf5749e.62cfb8","name":"","func":"msg.payload='\\u0005'+'00RSS0104%PW0'+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["a46fc15b.08a5a"]]},{"id":"630e5205.91d30c","type":"link out","z":"aaf5749e.62cfb8","name":"","links":["8a80fd86.96ea3"],"x":595,"y":160,"wires":[]},{"id":"8a80fd86.96ea3","type":"link in","z":"aaf5749e.62cfb8","name":"","links":["630e5205.91d30c"],"x":75,"y":420,"wires":[["1493d193.41c0be"]]},{"id":"3da04559.455eaa","type":"mqtt-broker","z":"","name":"","broker":"","port":"8883","tls":"c2b98476.979c48","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"699737fe.1b03f8","type":"ui_group","z":"","name":"PLC Testing","tab":"cb80cb32.a98678","disp":true,"width":"9","collapse":false},{"id":"9003e588.d97668","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/dbTest","name":"dbTest","options":"","parallelism":""},{"id":"c2b98476.979c48","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"cb80cb32.a98678","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]