6-3-1-3-aws_arduino_mqtt/6-3-1-3 PC node red program.txt
[{"id":"d523dc79.85b41","type":"mqtt out","z":"a98cd4c5.75eba8","name":"","topic":"inTopic","qos":"","retain":"","broker":"cd070f43.2e4a5","x":690,"y":420,"wires":[]},{"id":"32fc303e.dab08","type":"ui_switch","z":"a98cd4c5.75eba8","name":"","label":"P40","tooltip":"","group":"b7a47500.ec6908","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.9478874206543,"y":159.2604398727417,"wires":[["1cfd3be.84238c4"]]},{"id":"63c60d08.cf5f44","type":"ui_switch","z":"a98cd4c5.75eba8","name":"","label":"P41","tooltip":"","group":"b7a47500.ec6908","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":112.94787979125977,"y":212.26046085357666,"wires":[["dc607a9e.d8e558"]]},{"id":"59433c11.991004","type":"ui_switch","z":"a98cd4c5.75eba8","name":"","label":"P42","tooltip":"","group":"b7a47500.ec6908","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110.94787979125977,"y":272.26046085357666,"wires":[["e1e8c08e.b0353"]]},{"id":"daeba3c1.02337","type":"ui_switch","z":"a98cd4c5.75eba8","name":"","label":"P43","tooltip":"","group":"b7a47500.ec6908","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":109.94787979125977,"y":323.26046085357666,"wires":[["dc19e187.9ab54"]]},{"id":"439ceb85.ebed44","type":"comment","z":"a98cd4c5.75eba8","name":"node-red ui에서 plc제어 사이트 참조","info":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","x":200,"y":100,"wires":[]},{"id":"dc4c4b9a.fea0b8","type":"comment","z":"a98cd4c5.75eba8","name":"MongoDB를 이용한 PLC 제어 6-3-1-2","info":"","x":210,"y":40,"wires":[]},{"id":"7e7ff877.e833d8","type":"function","z":"a98cd4c5.75eba8","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["d523dc79.85b41","b6f9c6df.719328"]]},{"id":"c0ea571e.70b948","type":"mongodb2 in","z":"a98cd4c5.75eba8","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":475,"y":160,"wires":[["1c0f6f5a.fe70e1"]]},{"id":"dc607a9e.d8e558","type":"function","z":"a98cd4c5.75eba8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.1':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":279,"y":212,"wires":[["c0ea571e.70b948"]]},{"id":"1cfd3be.84238c4","type":"function","z":"a98cd4c5.75eba8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.0':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":278,"y":160,"wires":[["c0ea571e.70b948"]]},{"id":"e1e8c08e.b0353","type":"function","z":"a98cd4c5.75eba8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.2':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":278,"y":271,"wires":[["c0ea571e.70b948"]]},{"id":"dc19e187.9ab54","type":"function","z":"a98cd4c5.75eba8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.3':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":279,"y":323,"wires":[["c0ea571e.70b948"]]},{"id":"f5746114.a96e6","type":"function","z":"a98cd4c5.75eba8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":222,"y":420,"wires":[["de94181.44c40e8"]]},{"id":"de94181.44c40e8","type":"mongodb2 in","z":"a98cd4c5.75eba8","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":372,"y":420,"wires":[["7e7ff877.e833d8"]]},{"id":"2ee6e0c9.0d21b","type":"comment","z":"a98cd4c5.75eba8","name":"monogoDB 기초함수 사이트 참조","info":"https://youtu.be/JfJ8t_6Eq0k","x":510,"y":100,"wires":[]},{"id":"55a088c8.82d1d8","type":"mqtt in","z":"a98cd4c5.75eba8","name":"","topic":"outTopic","qos":"0","datatype":"auto","broker":"cd070f43.2e4a5","x":120,"y":580,"wires":[["8662d629.1950b8"]]},{"id":"22ee2ca1.be4d14","type":"ui_button","z":"a98cd4c5.75eba8","name":"","group":"b7a47500.ec6908","order":2,"width":0,"height":0,"passthru":false,"label":"읽기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":480,"wires":[["11b28e58.26e6d2"]]},{"id":"11b28e58.26e6d2","type":"function","z":"a98cd4c5.75eba8","name":"","func":"msg.payload='\\u0005'+'00RSS0104%PW0'+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["d523dc79.85b41"]]},{"id":"1c0f6f5a.fe70e1","type":"link out","z":"a98cd4c5.75eba8","name":"","links":["b5b930d1.fd284"],"x":595,"y":160,"wires":[]},{"id":"b5b930d1.fd284","type":"link in","z":"a98cd4c5.75eba8","name":"","links":["1c0f6f5a.fe70e1"],"x":75,"y":420,"wires":[["f5746114.a96e6"]]},{"id":"e30998e3.afc0e8","type":"ui_led","z":"a98cd4c5.75eba8","group":"b7a47500.ec6908","order":8,"width":"","height":"","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p00","x":750,"y":547,"wires":[]},{"id":"e6fd3e0d.d382e","type":"function","z":"a98cd4c5.75eba8","name":"2진수로 정리","func":"var hex=msg.payload.substring(12,14);\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nmsg.payload=bin;\nmsg.payload=msg.payload.substring(0,13);\nreturn msg;","outputs":1,"noerr":0,"x":392.9374465942383,"y":580.1075563430786,"wires":[["e2e42dce.3e2f9"]]},{"id":"e2e42dce.3e2f9","type":"function","z":"a98cd4c5.75eba8","name":"decorder","func":"var out=[];\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3]];\n","outputs":4,"noerr":0,"x":561.9930877685547,"y":580.961748123169,"wires":[["e30998e3.afc0e8"],["2e66a055.d0fca"],["7cab397.88e5cc8"],["db2f3de5.2b46a"]]},{"id":"2e66a055.d0fca","type":"ui_led","z":"a98cd4c5.75eba8","group":"b7a47500.ec6908","order":9,"width":"","height":"","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p01","x":751.9375343322754,"y":589.107536315918,"wires":[]},{"id":"7cab397.88e5cc8","type":"ui_led","z":"a98cd4c5.75eba8","group":"b7a47500.ec6908","order":10,"width":"","height":"","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p02","x":751.9375343322754,"y":629.107536315918,"wires":[]},{"id":"db2f3de5.2b46a","type":"ui_led","z":"a98cd4c5.75eba8","group":"b7a47500.ec6908","order":11,"width":"","height":"","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p03","x":751.9375343322754,"y":668.1075668334961,"wires":[]},{"id":"8662d629.1950b8","type":"string","z":"a98cd4c5.75eba8","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":250,"y":580,"wires":[["e6fd3e0d.d382e","7113a00c.2321a"]]},{"id":"b6f9c6df.719328","type":"ui_text","z":"a98cd4c5.75eba8","group":"b7a47500.ec6908","order":21,"width":0,"height":0,"name":"","label":"Transmitt","format":"{{msg.payload}}","layout":"row-spread","x":697,"y":380,"wires":[]},{"id":"7113a00c.2321a","type":"ui_text","z":"a98cd4c5.75eba8","group":"b7a47500.ec6908","order":21,"width":0,"height":0,"name":"","label":"Receive","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":640,"wires":[]},{"id":"cd070f43.2e4a5","type":"mqtt-broker","z":"","name":"","broker":"a8i4lgiqa43pw-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"6a0d8da7.b07f74","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7a47500.ec6908","type":"ui_group","z":"","name":"PLC Testing","tab":"71813781.7134f8","disp":true,"width":"9","collapse":false},{"id":"dcbfb6eb.1d4318","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/dbTest","name":"dbTest","options":"","parallelism":""},{"id":"6a0d8da7.b07f74","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"71813781.7134f8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]