6-10-2 IBM-MQTT/IBM Server.txt
[{"id":"502524b1.9211ec","type":"ibmiot in","z":"5de8b7d4.0c9648","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":100,"y":420,"wires":[["6b2b0318.cbbbcc","ecc5d516.9f6998"]]},{"id":"6b2b0318.cbbbcc","type":"function","z":"5de8b7d4.0c9648","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":290,"y":420,"wires":[["90f28dfa.2acc2"]]},{"id":"90f28dfa.2acc2","type":"switch","z":"5de8b7d4.0c9648","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":450,"y":420,"wires":[["b9a71ca5.eb9fb"],["17b7494d.301137"]]},{"id":"2b3fe53.16d211a","type":"debug","z":"5de8b7d4.0c9648","name":"cpu status","active":true,"complete":"false","x":790,"y":420,"wires":[]},{"id":"ecc5d516.9f6998","type":"debug","z":"5de8b7d4.0c9648","name":"device data","active":true,"console":"false","complete":"true","x":310,"y":500,"wires":[]},{"id":"b9a71ca5.eb9fb","type":"template","z":"5de8b7d4.0c9648","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":610,"y":400,"wires":[["2b3fe53.16d211a"]]},{"id":"17b7494d.301137","type":"template","z":"5de8b7d4.0c9648","name":"danger","template":"Temperature ({{payload}}) critical","x":620,"y":440,"wires":[["2b3fe53.16d211a"]]},{"id":"8bda7a87.ffa388","type":"ibmiot out","z":"5de8b7d4.0c9648","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"testDevice","deviceType":"testDeviceType","eventCommandType":"update","format":"json","data":"temp:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":140,"wires":[]},{"id":"18aac542.e7307b","type":"inject","z":"5de8b7d4.0c9648","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":140,"wires":[["3ecc8999.b8c026"]]},{"id":"3ecc8999.b8c026","type":"function","z":"5de8b7d4.0c9648","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["8bda7a87.ffa388","7ce9435f.7ed8ac"]]},{"id":"7ce9435f.7ed8ac","type":"debug","z":"5de8b7d4.0c9648","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":200,"wires":[]},{"id":"4054dd86.935a94","type":"comment","z":"5de8b7d4.0c9648","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":60,"wires":[]},{"id":"94dabdbe.33b5c","type":"comment","z":"5de8b7d4.0c9648","name":"1. Configure target","info":"","x":550,"y":100,"wires":[]},{"id":"3a7355c8.c99baa","type":"comment","z":"5de8b7d4.0c9648","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":180,"wires":[]},{"id":"8d75ca25.747328","type":"comment","z":"5de8b7d4.0c9648","name":"Temperature Monitor","info":"","x":110,"y":320,"wires":[]},{"id":"7ce1935e.f2f8dc","type":"comment","z":"5de8b7d4.0c9648","name":"Configure source","info":"","x":100,"y":380,"wires":[]}]