6-10-2 IBM-MQTT/PC - MQTT .txt
[{"id":"d5e43fe5.ab4a1","type":"inject","z":"70bed7bd.527408","name":"","topic":"","payload":"{\"d\":{\"temp\":45}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199,"y":61,"wires":[[]]},{"id":"ca28f064.167dd","type":"mqtt out","z":"70bed7bd.527408","name":"","topic":"iot-2/evt/status/fmt/json","qos":"","retain":"","broker":"70b84d1b.4183c4","x":535,"y":54,"wires":[]},{"id":"2f34ff12.503c8","type":"ui_slider","z":"70bed7bd.527408","name":"","label":"slider","group":"eae8b310.11741","order":0,"width":"5","height":"1","passthru":true,"topic":"","min":0,"max":10,"step":1,"x":143,"y":122,"wires":[["11852e1a.b23ad2","5c337dd8.c4bf54"]]},{"id":"11852e1a.b23ad2","type":"function","z":"70bed7bd.527408","name":"","func":"msg.payload = \"{\\\"d\\\":{\\\"temp\\\":\" + msg.payload + \"}}\";\nreturn msg;","outputs":1,"noerr":0,"x":283,"y":123,"wires":[["ca28f064.167dd"]]},{"id":"5c337dd8.c4bf54","type":"ui_text","z":"70bed7bd.527408","group":"eae8b310.11741","order":0,"width":"1","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":284,"y":176,"wires":[]},{"id":"70b84d1b.4183c4","type":"mqtt-broker","z":"","name":"","broker":"https://tyvmvj.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:tyvmvj:testDeviceType:testDevice","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"eae8b310.11741","type":"ui_group","name":"Group 1","tab":"7fa231f1.70235","order":1,"disp":true,"width":6},{"id":"7fa231f1.70235","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]